{{define "head"}}
    <link href="/static/js/highlight/styles/ir-black.css" rel="stylesheet" media="screen">
{{end}}

{{define "title"}}
    {{.Title}}
{{end}}

{{define "body"}}
<section class="section">
    <div class="container">
        <h1 class="title">{{.Title}}</h1>
        <hr>
        <div class="content">
            {{.Body}}
        </div>
    </div>
</section>
{{end}}

{{define "scripts"}}
    <script src="/static/js/highlight/highlight.pack.js"></script>
    <script type="text/javascript"> 
        hljs.initHighlightingOnLoad();
    </script>
{{end}}